<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.6/webcam.min.js"></script>

  <div id="container" style="position: relative;">
    <canvas id="overlay" style="width: 640px; height: 480px; position: absolute; z-index: 1"></canvas>
    <div id="camera" style="width: 640px; height: 480px; position: absoulte;"></div>
  </div>

  <script language="JavaScript">
      Webcam.set({
        flip_horiz: true
      });
      Webcam.attach( '#camera' );

      var overlay = document.getElementById("overlay");
      overlay.width = 640;
      overlay.height= 480;
      var ctx = overlay.getContext("2d");

      function takeSnapshot() {
          Webcam.snap(function(data_uri) {
              Webcam.upload(data_uri, 'check_user', function(code, text) {
                var res = JSON.parse(text);

                ctx.clearRect(0, 0, overlay.width, overlay.height);
                for(var i=0; i<res['detected_faces'].length; i++){
                  var face = res['detected_faces'][i];

                  ctx.lineWidth = 2;
                  if(face.recognition){
                    ctx.strokeStyle = "lime";
                  } else {
                    ctx.strokeStyle = "red";
                  }
                  ctx.strokeRect(face.x, face.y, face.width, face.height);

                  if(face.recognition){
                    var label = face.recognition.label;
                    label += " (" + face.recognition.confidence + ")";

                    ctx.fillStyle = "black";
                    ctx.fillRect(face.x, face.y + face.height, face.width, 30);

                    ctx.fillStyle = "white";
                    ctx.font = "24px Arial";
                    ctx.fillText(label, face.x + 2, face.y + face.height + 24);
                  }

                  // TODO: Make this representation not so terrible
                  if(face.e1 && face.e2){
                    ctx.strokeStyle = "blue";
                    ctx.lineWidth = 1;
                    ctx.strokeRect(face.x + face.e1[0], face.y + face.e1[1], face.e1[2], face.e1[3]);
                    ctx.strokeRect(face.x + face.e2[0], face.y + face.e2[1], face.e2[2], face.e2[3]);
                  }
                }
              });
          });
      }
      
      function loop() {
        setTimeout(function(){
          takeSnapshot();
          loop();
        }, 200);
      }
      setTimeout(loop, 1000);
      
  </script>
</html>
