<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.6/webcam.min.js"></script>

  <div id="container" style="position: relative;">
    <canvas id="overlay" style="width: 640px; height: 480px; position: absolute; z-index: 1"></canvas>
    <div id="camera" style="width: 640px; height: 480px; position: absoulte;"></div>
  </div>

  <script language="JavaScript">
      Webcam.set({
        flip_horiz: true
      });
      Webcam.attach( '#camera' );

      var overlay = document.getElementById("overlay");
      overlay.width = 640;
      overlay.height= 480;
      var ctx = overlay.getContext("2d");

      function takeSnapshot() {
          Webcam.snap(function(data_uri) {
              Webcam.upload(data_uri, 'check_user', function(code, text) {
                var res = JSON.parse(text);

                ctx.clearRect(0, 0, overlay.width, overlay.height);
                for(var i=0; i<res['detected_faces'].length; i++){
                  var face = res['detected_faces'][i];
                  ctx.lineWidth = 2;
                  ctx.strokeStyle = "lime";
                  ctx.strokeRect(face.x, face.y, face.width, face.height);

                  ctx.strokeStyle = "red";
                  var width = face.debug[1] - face.debug[0];
                  var height = face.debug[3] - face.debug[2];
                  ctx.strokeRect(face.debug[0], face.debug[2], width, height);
                }
              });
          });
      }
      
      function loop() {
        setTimeout(function(){
          takeSnapshot();
          loop();
        }, 200);
      }
      setTimeout(loop, 1000);
      
  </script>
</html>
